@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
/*********************************
 * Imports
 */
/*********************************
 * Variables
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
}
header {
  display: none !important;
  background-color: #666666;
  height: 100%;
}
@media screen and (min-width: 768px) {
  header {
    display: block !important;
  }
}
header .head-left {
  width: 50%;
  height: 100%;
  float: left;
}
header .head-left .mainTitle {
  font-size: 10vmax;
  font-weight: 700;
  width: 100%;
  float: right;
  text-align: right;
  color: #eeeeee;
  text-shadow: 0px 2px 3px #222;
  padding-left: 5px;
  margin-top: 100px;
}
header .head-left .secondTitle {
  font-size: 5vmax;
  width: 100%;
  text-align: right;
  color: #eeeeee;
  text-shadow: 0px 2px 3px #222;
  float: right;
}
header .head-left .playLink {
  float: right;
  width: 100%;
  text-align: right;
  margin-top: 20px;
}
header .headRight {
  width: 50%;
  height: 100%;
  float: right;
}
header .headRight .top-img {
  max-width: 100%;
  max-height: 100%;
}
header .head-bottom {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.5vmax;
  -webkit-transition: font-size 0.2s ease;
  -moz-transition: font-size 0.2s ease;
  -o-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
}
header .head-bottom:hover {
  font-size: 2.5vmax;
}
.content {
  min-height: 100%;
}
