@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

html, body
{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

a {font-family:inherit; text-decoration:none; color:#00bbff;}
a:link {}
a:visited {}
a:hover {text-decoration:underline;}
a:active {}

body { 
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    background: #666;
} 

a img {
  border:none;
}

.mainTitle {
    font-size: 70pt;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-top: 14%;
    color: #EEE;
    position: absolute;
    text-shadow: 0px 2px 3px #222;
}

.secondTitle {
    font-size: 30pt;
    width: 100%;
    text-align: center;
    color: #EEE;
    position: absolute;
    text-shadow: 0px 2px 3px #222;
}

.scrollText {
    font-size: 20pt;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #888;
    margin-bottom:20px;
}

.pageWrapper {
    margin: auto;
    width: 900px;
    padding-top: 30px;
}

.pageContent {
    float: left; 
    min-height: 400px;
    width: 100%;
    margin-top: 70%;
}

.navBox {
    float: left;
    width: 215px;
    box-shadow: 3px 3px 100px 1px rgba(0,0,0,0.5);
    position: relative;
    z-index: 10;
}

.navHead {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    background: #444;
    border-bottom: solid 2px #00ff00;
}
.smallIcon {
    margin-left: 5px;
    float: left;
}

.title {
    color: white;
    float: left;
    font-size: 24pt;
    padding-top: 6px;
    padding-left: 5px;
}

.navItem {
    background: #444;
    float: left;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: solid 1px #555;
    color: #F1F1F1;
}

.navItem:hover {
    background: #4FD144;
    color: #444;
}

.navItemBody {
    margin-left: 5px;
}

.navAt {
    background: #45B037;
    color: #444;
}

.contentBox {
    float: left;
    width: 74%;
    margin-left: 10px;
    background: #444;
    min-height: 300px;
    margin-top: 20px;
    box-shadow: 3px 3px 100px 1px rgba(0,0,0,0.8);
    z-index: 0;
    margin-bottom: 20px;
}


.arrow {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #444; 
	position: absolute;
	width: 216px;
	margin-top: -20px;
}

.pageTitle {
    color: white;
    font-size: 30pt;
    padding-left: 10px;
    padding-top: 10px;
}

.divider {
    border-bottom: solid 2px #00ff00;
}

.badges {
    margin: 10px;
    float: right;
}

.content {
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    color: #F0F0F0;
    margin-bottom: 20px;
}

.question {
    margin-bottom: -10px;
    border-bottom: solid 1px;
}
.answer {
    margin-left: 15px;
    margin-bottom: 30px;
}

.bg {
    width: 500px;
    height: 390px;
    border-radius: 60px;
    background: #252525;
    box-shadow: inset 0px 5px 10px rgba(255,255,255,0.8), inset 0px -5px 10px #000;
    padding-top: 110px;
    padding-top: 11%;
    margin:0 auto;
}   

.content1 {
    margin-right: 15%;
    margin-left: 15%;
}

.bar {
    background: #F1F1F1;
}

.top {
    width: 100%;
    height: 50px;
}
.children {
    margin-left: 50px;

}

.child {
    width: 100%;
    height: 40px;
    margin-top: 8px;
}

.arrow1 {
    margin-top: 8px;
	width: 0; 
	height: 0; 
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 40px solid #F1F1F1;
}

.code {
    background: #555;
    border-radius: 8px;
    padding: 5px;
    margin-left: 0px;
    margin-right: 20px;
    
}

.stick {
    position: fixed;
    top: 0;
    margin-top:5px;
}

.addPadding {
    margin-left: 215px;
}
.spaceFix {
    width: 215px;
    height: 20px;
    float: left;
    
}

.clickable {
    cursor: hand;
	cursor: pointer;
}

.section {
    width: 100%;
    position: fixed;
}
.section-1 {
    height: 100%;
    float: left;
    background: #fff;
    z-index: 500;
    box-shadow: 3px 3px 100px 1px rgba(0,0,0,0.9);
    background: #333;
    
}

.section-2 {
    height: 2000px;
    float: left;
    background-image:url('../res/green.svg');
    z-index: -600;
    top: 130%;
    background-size: cover;
    box-shadow: 3px 3px 50px 1px rgba(0,0,0,0.5);
}

.section-3 {
    height: 500px;
    float: left;
    background: #555;
    z-index: -500;
    top: 130%;
        background-image:url('../res/dots.png');
    background-repeat: repeat;
    box-shadow: 3px 3px 50px 1px rgba(0,0,0,0.8);
    opacity:0.6;
}

.section-4 {
    height: 2000px;
    float: left;
    z-index: -800;
    top: 130%;
    box-shadow: 3px 3px 50px 1px rgba(0,0,0,1);
    background-image:url('../res/grey.svg');
    background-size: cover;
}

.lastBox {
    margin-bottom: 100%;
}


